
.icon-up:before { content: '\e800'; } /* '' */
.icon-right:before { content: '\e801'; } /* '' */
.icon-left:before { content: '\e802'; } /* '' */
.icon-down:before { content: '\e803'; } /* '' */
.icon-plus:before { content: '\e804'; } /* '' */
.icon-plus-1:before { content: '\e805'; } /* '' */
.icon-plus-2:before { content: '\e806'; } /* '' */
.icon-plus-3:before { content: '\e807'; } /* '' */
